@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  /* background: #343a40; */
  /* background: #6c757d; */
  background: white;
  font-family: 'Open Sans', sans-serif;
}

/* footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
} */
